body {
    margin: 0;
    padding-left: 120px;
    padding-right: 120px;
}

a {
    color: black;
    text-decoration: none;
}

header {
    height: 90px;
    outline: black;
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.navbar_title {
    padding-left: 35px;
    font-size: 35px;
}

.navbar_menu {
    display: flex;
    justify-content: center;
    list-style: none;
}

.navbar_menu_list {
    padding: 10px 30px;
    font-size: 20px;
    letter-spacing: -2px;
}

.navbar_sub-menu {
    /* display: flex; */
    display: none;
    list-style: none;
}

.navbar_sub-menu li {

    background-color: black;

}

.navbar_sub-menu a {
    color: white;
}

input#menu1 {
    display: none;
}
input#menu1:checked+ul.navbar_sub-menu {
    display: block;
}

input#menu2 {
    display: none;
}
input#menu2:checked+ul.navbar_sub-menu {
    display: block;
}

input#menu3 {
    display: none;
}
input#menu3:checked+ul.navbar_sub-menu {
    display: block;
}

input#menu4 {
    display: none;
}
input#menu4:checked+ul.navbar_sub-menu {
    display: block;
}

.navbar_icon {
    padding-right: 10px;
    list-style: none;
    display: flex;
}

.navbar_icon li {
    font-size: 25px;
    padding: 0px 12px;
}

.navbar_icon i {
    background-color:white;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    /* 배경 원 위치 이동하기 */
}
.navbar_icon i:hover {
    background-color: lightgrey;
}

main {
    position: relative;
}

.date_content {
    position: relative;
    height: 380px;
    padding: 0px 20px;
}

.date_img {
    position: absolute;
    top: 30%;
    height: 50px;
    float: left;
}

.first_line {
    position: absolute;
    top: 30%;
	font-size: 55px;
	letter-spacing: -5px;
	line-height: 85px;
    padding: 0px 20px;
    padding-left: 110px;
}

.second_line {
    position: absolute;
    top: 53%;
	font-size: 58px;
	letter-spacing: -5px;
	line-height: 85px;
    padding: 0px 0px;
}

.update {
    border-radius: 100%;
    height: 27px;
    width: 27px;
    position: absolute;
    top: 50%;
    left: 42%;
    color: white;
    background-color: orangered;
}

.top_box {
	position: relative;
    display: flex;
    /* justify-content: space-between; */
}

.top_box img {
    height: 50px;
}

.News {
    position: absolute;
    font-size: 20px;
    position: relative;
    letter-spacing: -3px;
    padding: 50px 45px;

    /* Box */
	height: 400px;
	width: 700px;
	margin: 36px 18px;

    /* Effects */
	box-shadow: rgba(0, 0, 0, 0.08) 2px 5px 40px 0px;
	border-radius: 14px;
}
.News:hover {
    box-shadow: 5px 5px 20px lightgray;
    transform: translate(0px, -8px);
    transition-duration: 0.3s;
}

.AI_BlockChain {
    position: absolute;
    font-size: 20px;
    position: relative;
    letter-spacing: -3px;
    padding: 50px 45px;

    /* Box */
	height: 240px;
	width: 270px;
	margin: 36px 18px;

    /* Effects */
	box-shadow: rgba(0, 0, 0, 0.08) 2px 5px 40px 0px;
	border-radius: 14px;
}
.AI_BlockChain:hover {
    box-shadow: 5px 5px 20px lightgray;
    transform: translate(0px, -8px);
    transition-duration: 0.3s;
}

.Stock {
    position: absolute;
    font-size: 20px;
    position: relative;
    letter-spacing: -3px;
    padding: 50px 45px;

    /* Box */
	height: 120px;
	width: 270px;
	margin: 36px 18px;

    /* Effects */
	box-shadow: rgba(0, 0, 0, 0.08) 2px 5px 40px 0px;
	border-radius: 14px;
}
.Stock:hover {
    box-shadow: 5px 5px 20px lightgray;
    transform: translate(0px, -8px);
    transition-duration: 0.3s;
}

.Business {
    position: absolute;
    font-size: 20px;
    position: relative;
    letter-spacing: -3px;
    padding: 50px 45px;

    /* Box */
	height: 240px;
	width: 270px;
	margin: 36px 18px;

    /* Effects */
	box-shadow: rgba(0, 0, 0, 0.08) 2px 5px 40px 0px;
	border-radius: 14px;
}
.Business:hover {
    box-shadow: 5px 5px 20px lightgray;
    transform: translate(0px, -8px);
    transition-duration: 0.3s;
}

.Responsibility {
    position: absolute;
    font-size: 20px;
    position: relative;
    letter-spacing: -3px;
    padding: 50px 45px;

    /* Box */
	height: 120px;
	width: 270px;
	margin: 36px 18px;

    /* Effects */
	box-shadow: rgba(0, 0, 0, 0.08) 2px 5px 40px 0px;
	border-radius: 14px;
}
.Responsibility:hover {
    box-shadow: 5px 5px 20px lightgray;
    transform: translate(0px, -8px);
    transition-duration: 0.3s;
}

.culture {
    position: relative;
	font-size: 50px;
	letter-spacing: -5px;
	line-height: 200px;
	text-align: center;

	/* Box */
	height: 680px;
	width: 1620px;
	margin: 36px 18px;

	/* Effects */
	box-shadow: rgba(0, 0, 0, 0.08) 2px 5px 40px 0px;
    border-radius: 14px;
}

.culture_link {
    position: absolute;
    left: 43.5%;
    padding: 15px 0px;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -3px;
    color: white;
    background-color: black;
    border-radius: 28px;
    width: 210px;
}

.culture_img {
    padding: 110px 0px;
    height: 300px;
    width: 1100px;
}

.middle_box {
	position: relative;
    display: flex;
    justify-content: space-between;
}

.middle_box img {
    height: 50px;
}

.Customer_Center {
    position: absolute;
    font-size: 20px;
    position: relative;
    letter-spacing: -3px;
    padding: 50px 45px;
    right: 0%;

    /* Box */
	height: 120px;
	width: 270px;
	margin: 36px 18px;

    /* Effects */
	box-shadow: rgba(0, 0, 0, 0.08) 2px 5px 40px 0px;
	border-radius: 14px;
}
.Customer_Center:hover {
    box-shadow: 5px 5px 20px lightgray;
    transform: translate(0px, -8px);
    transition-duration: 0.3s;
}

.Kakao_Privacy {
    position: absolute;
    font-size: 20px;
    position: relative;
    letter-spacing: -3px;
    padding: 50px 45px;
    right: 0%;

    /* Box */
	height: 120px;
	width: 270px;
	margin: 36px 18px;

    /* Effects */
	box-shadow: rgba(0, 0, 0, 0.08) 2px 5px 40px 0px;
	border-radius: 14px;
}
.Kakao_Privacy:hover {
    box-shadow: 5px 5px 20px lightgray;
    transform: translate(0px, -8px);
    transition-duration: 0.3s;
}

.Tech_Service {
    position: absolute;
    font-size: 20px;
    position: relative;
    letter-spacing: -3px;
    padding: 50px 45px;
    right: 0%;

    /* Box */
	height: 450px;
	width: 700px;
	margin: 36px 18px;

    /* Effects */
	box-shadow: rgba(0, 0, 0, 0.08) 2px 5px 40px 0px;
	border-radius: 14px;
}
.Tech_Service:hover {
    box-shadow: 5px 5px 20px lightgray;
    transform: translate(0px, -8px);
    transition-duration: 0.3s;
}

.base_box {
    display: flex;
    justify-content: space-between;
}

.yellow_box {
    font-size: 38px;
    background-color: #FAE100;
    position: relative;
    letter-spacing: -3px;
    padding: 50px 45px;

    /* Box */
	height: 350px;
	width: 700px;
	margin: 36px 18px;

    /* Effects */
	box-shadow: rgba(0, 0, 0, 0.08) 2px 5px 40px 0px;
	border-radius: 14px;
}

.yellow_link {
    position: absolute;
    text-align: center;
    left: 6%;
    top: 43%;
    padding: 15px 0px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -1px;
    color: white;
    background-color: black;
    border-radius: 26px;
    width: 190px;
}

.yellow_img {
    position: absolute;
    height: 210px;
    left: 65%;
    top: 40%;
}

.blue_box {
    font-size: 38px;
    background-color: #3c64FF;
    position: relative;
    letter-spacing: -3px;
    padding: 50px 45px;

    /* Box */
	height: 350px;
	width: 700px;
	margin: 36px 18px;

    /* Effects */
	box-shadow: rgba(0, 0, 0, 0.08) 2px 5px 40px 0px;
	border-radius: 14px;
}

.blue_link {
    position: absolute;
    text-align: center;
    left: 5%;
    top: 43%;
    padding: 15px 0px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -1px;
    color: white;
    background-color: black;
    border-radius: 26px;
    width: 210px;
}

.blue_img {
    position: absolute;
    height: 210px;
    left: 40%;
    top: 40%;
}

.collect {
    position: relative;

	/* Box */
	height: 280px;
	width: 1620px;
	margin: 36px 18px;
}

.collect_link {
    text-align: center;
    line-height: 73px;
    position: absolute;
    top: 10%;
    left: 40%;
    font-size: 23px;
    letter-spacing: -2.5px;
    color: black;
    background-color: lightgrey;
    border-radius: 80px;
    width: 320px;
    height: 70px;
}
.collect_link:hover {
    background-color: grey;
}

.arrow-up {
    position: absolute;
    font-size: 45px;
    top: 70%;
    right: 1%;
    background-color: black;
    width: 70px;
    height: 70px;
    color: white;
    border-radius: 100%;
}
.arrow-up:hover {
    background-color: rgb(80, 79, 79);
}

footer {
    background-color: white;
}

.total_menu {
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
	height: 330px;
	margin: 36px 18px;
}

.under {
    font-size: 17px;
    list-style: none;
    letter-spacing: -1px;
}

.under li {
    padding: 8px 0px;
}

.relation {
    position: relative;
	height: 150px;
    width: 100%;
}

.info {
    position: absolute;
    width: 1130px;
    color: grey;
    font-size: 15px;
    letter-spacing: -0.5px;
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;
}

.cite {
    position: absolute;
    right: 0%;
    float: right;
    font-size: 15px;
    letter-spacing: -1px;
    width: 260px;
    height: 47px;
    background-color: lightgrey;
    border-radius: 70px;
    /*글씨 위치 이동하기 */
}

.corp {
    position: absolute;
    top: 28%;
    color: grey;
    font-size: 18px;
    letter-spacing: -0.5px;
    line-height: 90px;
}